.contenedor {
	background: #E8E7E7;
	margin-top: 50px;
	padding: 38px;
}

.titulo {
	font-size: 18px;
    font-weight: 600;
}

thead>tr>th {
	font-size: 14px !important;
	font-weight: 700 !important;
	/*text-align: center;*/
}

tbody>tr>th {
	font-weight: 100 !important;
	/*text-align: center;*/
}