.titulo {
	font-size: 28px;
    font-weight: 700;
    margin-top: 48px;
}

.label {
	margin-right: 8px;
}

.datos_importantes {
	margin-top: 28px;
	background-color: #F0F0F0;
}

.datos_importantes div {
    background-color: #F0F0F0;
    padding: 18px;
}

.radio_votos {
    height: 28px;
    padding: 0px !important;
}

.voto {
	text-align: center;
}

.elemento_dataset {
    display: block;
}

.comentario {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
}

.text-lista-commentarios {
    font-weight: 600;
}

.anexo_comentario {
    padding: 0px !important;
    background: #FFF !important;
}

.info_comment {
    margin: 0px;
    padding: 0px;
}

.bloque_comentario {
    background: #FFF !important;
}

strong {
    font-size: 15px;
}

.btn_vote_comment {
    color: black !important;
}

.center {
	text-align: center;
}

.img_user {
	width: 188px;
	height: 188px;
	border-radius: 100%;
}
