<br>
<div class="container">
	<div class="form-group">
		<label for="name">Nombre:</label>
		<input type="text" id="name" name="name" class="form-control" [(ngModel)]="user.name" required [class.error]="!obligatorios">
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="Last_name1">Primer Apellido:</label>
				<input type="text" id="last_name1" name="Last_name1" class="form-control" [(ngModel)]="user.last_name1" required [class.error]="!obligatorios">
			</div>
			<div class="col-sm-6">
				<label for="Last_name2">Segundo Apellido:</label>
				<input type="text" id="last_name2" name="Last_name2" class="form-control" [(ngModel)]="user.last_name2" required [class.error]="!obligatorios">	
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="icono" class="">Foto de perfil:</label>
				<input type="file" id="icono" name="icono" required class="form-control"
			       (change)="onChange($event);"
			       [disabled]="subida">
				<p class="help-block">Elija la imagen de icono de su aplicación. Solo podrá subir una imagen</p>
				<div class="alert alert-success" [hidden]="msgCorrecto"><p class="text-success">Icono subido correctamente</p></div>
			</div>
			<div class="col-sm-1">
				<button class="btn btn-file" (click)="upload();" [disabled]="subida">Subir</button>
			</div>
			<div class="col-sm-1" *ngFor="let img of imagenes">
				<a href="javascript:void(0)" class="thumbnail">
					<img [src]="img.url" alt="">
				</a>
				<a href="javascript:void(0)" class="btn text-primary" (click)="eliminarImage(img.urlServer, img.id);">Eliminar</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" required [class.error]="!obligatorios">
			</div>
			<div class="col-sm-6">
				<label for="tlf">Teléfono</label>
				<input type="text" id="tlf" name="tlf" class="form-control" [(ngModel)]="user.tlf" [class.error]="!obligatorios">	
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="email">Email:</label>
				<input type="text" id="email" name="email" class="form-control" [(ngModel)]="user.email" required [class.error]="!obligatorios">
			</div>
			<div class="col-sm-6">
				<label for="url_web">URL web:</label>
				<input type="text" id="url_web" name="url_web" class="form-control" [(ngModel)]="user.url_web">	
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<label for="pais">País:</label>
				<select name="pais" id="pais" class="form-control" [(ngModel)]="user.country" required [class.error]="!obligatorios"></select>
			</div>
			<div class="col-sm-6">
				<label for="password">Contraseña:</label>
				<input type="text" id="password" name="password" class="form-control" [(ngModel)]="user.password" required [class.error]="!obligatorios">
			</div>
		</div>
	</div>
	<br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">	
				<br><br>
				<p class="bg-danger" [hidden]="obligatorios">Debes rellenar los campos obligatorios</p>
				<button class="btn btn-primary" (click)="Actualizar();">Acutalizar Usiario</button>
				<button class="btn btn-danger" (click)="darDeBaja();">Dar Baja Usiario</button>
			</div>	
		</div>
	</div>
</div>