.header_container {
	background: black;
	color: #fff;
	height: 88px;
    margin-bottom: 68px;
}

.footer {
    margin-top: 68px;
	background: #e1e1e1;
    color: #fff;
    height: 180px;
    border-top: solid 2px black;
}