.panel-izq {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #E8E7E7;
}

.panel-izq ul {
    list-style-type: none;
    font-family: 'Open Sans',Helvetica Neue,Helvetica;
    line-height: 28px;
}

.panel-izq ul li {
	border-bottom: 1px dotted black;
	cursor: hand;
  	cursor: pointer;
}

.centro {
	padding-bottom: 50px;
}

.centro a {
	text-decoration: none;
}

.titutlo_categorias {
	padding-left: 38px;
    font-size: 18px;
    font-weight: 600;
}

.elemento-app {
	height: 288px;
}

.elemento-app h5{
    font-size: 16px;
    font-weight: 600;
}

.elemento-app img {
	max-height: 168px;
}

.elemento-app:hover{
	box-shadow: 0px 0px 18px 8px;
	color: black;
}

.thumbnails {
	max-height: 170px;
}

.description-app {
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    height: 28px;
}

.hidden {
	display: none;
}

.categorias:active, .categorias:hover {
	font-weight: 700;
}

.migas {
	border: solid 1px black;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 18px 0px;
    background-color: #F0EEEE;
}

.migas span{
	cursor: hand;
  	cursor: pointer;
}

hr {
	border-color: black;
}

.busqPais {
	padding-left: 28px;
}

.ir{
	cursor: hand;
  	cursor: pointer;
}

.filtros_busq {
	box-sizing: border-box;
    padding: 18px 0px 18px 0px;
    background: #E8E7E7;
    margin-bottom: 18px;
}

.label {
	padding: 5px;
	box-sizing: border-box;
}

.ordenar {
	margin-bottom: 8px;
}

.noCategoria, .noPais {
	cursor: hand;
  	cursor: pointer;
}

.label {
	margin-right: 5px;
}

.media {
    position: absolute;
    top: 261px;
    right: 28px;
    /*background-color: darkorange;*/
}

.media_vistas {
	position: absolute;
	top: 261px;
	left: 28px;
}